:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ffffffde;
  background: radial-gradient(circle at 20% 30%, #8d2d67 0%, transparent 40%),
    radial-gradient(circle at 80% 40%, #4d4a91 0%, transparent 40%),
    radial-gradient(circle at 40% 80%, #1a3131 0%, transparent 50%);
  background-color: #242424;
  background-blend-mode: screen;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

body {
  margin: 0;
  min-width: 320px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 calc(100% / 8);
  background-color: #6a3a57;
  filter: drop-shadow(#6a3a57 -2px 2px 10px);
}

footer {
  max-height: 10rem;
}

#app {
  width: fit-content;
  max-width: 60rem;
  margin: 4rem auto;
  padding: 2rem calc(100% / 8);
  min-height: calc(100vh - 18rem);
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #182633;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.filter-form {
  display: flex;
  gap: 0.3rem;
  background-color: #213547;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: fit-content;
  filter: drop-shadow(#4c4cac 0 0 2rem);
}

.filter-search-body {
  background-color: #37325a;
  border-radius: 0.8rem;
  padding: 1rem;
}
.filter-search-body input {
  border: none;
  border-bottom: 3px solid darkmagenta;
  border-radius: 0.2rem;
  background-color: transparent;
  color: aliceblue;
}
.filter-search-body input:focus {
  outline: none;
  border-bottom: 3px solid magenta;
  background-color: #213547;
}

.filter-form .btn-sort {
  border-radius: 0.8rem;
  width: 8rem;
  height: 100%;
}

.card-array {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  /* margin: 0 auto; */
  width: 56rem;
}

.user-card {
  background-color: brown;
  border-radius: 0.3em 0.3em 0.4em 0.4em;
  padding: 0;
  width: 18rem;
}

.user-card .card-body {
  background-color: #213547;
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0.3rem 0 0 0;
  padding: 0.5rem;
  padding-top: 0rem;
}
.user-card .card-body p,
.user-card .card-body h4 {
  margin: 0;
}

.card-body .main-frame {
  display: grid;
  padding-top: 1.5rem;
  grid-template-columns: 4.5rem auto;
}

.card-body hr {
  border: none;
  height: 2px;
  background-color: #1b2b3a;
  border-radius: 1px;
}

.user-card .profile-logo {
  background-color: #747bff;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto 0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

.email {
  background-color: #1b2c3a;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0;
}

.btn-fav {
  font-size: 2rem;
  padding: 0rem 0.5rem;
  padding-bottom: 0.3rem;
  margin-top: 0.3rem;
  background-color: transparent;
}

#load-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: radial-gradient(circle at 20% 30%, #ff6ec4 0%, transparent 40%),
      radial-gradient(circle at 80% 40%, #7873f5 0%, transparent 40%),
      radial-gradient(circle at 50% 80%, #4adede 0%, transparent 40%);
    background-color: #ecd4d4;
    background-blend-mode: screen;
  }

  header {
    background-color: #e47375;
    filter: drop-shadow(#e47375 -2px 2px 10px);
  }

  a:hover {
    color: #747bff;
  }

  .btn {
    color: black;
    background-color: #ddd;
  }

  .filter-form {
    background-color: white;
    filter: drop-shadow(#eeeefd 0 0 2rem);
  }

  .btn-fav {
    background-color: transparent;
  }

  .user-card .card-body {
    background-color: white;
  }

  .card-body hr {
    background-color: lightgray;
  }

  .email {
    background-color: #ddd;
  }

  .filter-form {
    background-color: #ecd2d2;
  }

  .filter-search-body {
    background-color: white;
  }

  .filter-search-body input {
    color: black;
    border-bottom: 3px solid #ce7373;
  }
  .filter-search-body input:focus {
    outline: none;
    border-bottom: 3px solid aqua;
    background-color: lightcyan;
  }
  .btn-sort {
    background-color: #f5e3ea;
  }
}
